/* .container {
    width: 100%;
    padding: 2rem;
  }
  
  .section2 {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text h1 {
    font-size: 2rem;
    line-height: 1.6;
    color: #B94C99; 
    font-weight: bold;
  }
  
  
  .text .line {
    overflow: hidden;
    display: block;
    margin-bottom: 1rem;
    
  }
   */

   .section2 {
    min-height: 100vh;
    padding: 2rem;
    background-color: #B94C99; /* Light background to contrast text */
    color: #B94C99;
  }
  
  .text {
    max-width: 100px;
    margin: 0 auto;
  }
  
  .text h1 {
    font-size: 2rem;
    line-height: 1.6;
    font-weight: 50;
    color: #333;
  }
  
  .line {
    display: block; /* Ensures lines are treated as separate blocks for animation */
    opacity: 0;      /* Initial state before GSAP animates */
    transform: translateY(50px); /* Initial state before GSAP animates */
  }

  .line + .line {
    margin-top: 1rem;
  }
  
  